*{
	margin:0;
	padding:0px;
	border:0px;
	box-sizing:border-box;
	}
	
/* ------------------------------------------------------------------------------------------------------------------------------------------------------ */
	

	
	.access{
	width:960px;
	height:40px;
	/* border:1px dotted black; */
	margin:auto;
		
		
	}
	.menu{
	background:#00aeef;	
	height:40px;
	
	}
		
	.menu-frm{
	width:960px;
	margin:auto;
	color:white;
	}
	
	
	
	
	.menu li{
		float:right;
		padding:5px;
		
	}
	
	.menu ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
	}
	.menu ul a{
	text-decoration:none;
	padding:5px;
    margin: 0;
    padding: 0;
    overflow: hidden;
	font-family:zar;
	color:white;
    
	}
	
	
	
	/* ------------------------------------------------------------------------------------------------------------------------ */
	
Main{
	
background:white; 
margin:auto;
width:960px;
	
	}
	
	.banner{
	width:960px;
	height:235px;
	margin:auto;
	
	
	
		
		
	}
	
		.bnr-lg{
		width:560px;
		height:160px;
		background:magenta;
		
		margin:auto;
		float:right;
		
			
			
		}
		
		.bnr-sml{
		width:560px;
		height:75px;
		background:cyan;
		
		/* box-sizing:border-box; */
		float:right;
			
			
		}
		
		.bnr-mdm{
		width:400px;
		height:235px;
		background:blue;
		
		float:left;
		/* box-sizing:border-box;		 */
		}
	
	.mn-cntnt{
	width:960px;
	margin:auto;
	
	/* height:500px; */
		
		
	}
	
			.art-frm-out{
			width:730px;
			float:right;
			
			
			}
			
			.art-frm-in{
			width:730px;
			float:right;
			height:760px;
			border:1px solid red;
			overflow:hidden;
			
			
							
			}
		
		
		
				.art-frm-title{
				width:730px;
				height:30px;
				font-family:zar;
				font-size:14px;
				text-align:right;
				padding-right:5px;
				
					
					
					
				}
				
				
				.art-prev{
				width:730px;
				height:130px;
				font-family:zar;
				font-size:14px;	
				background:lightblue;
				border:1px solid black;
				
				}
			
			.pagenav{
			width:730px;
			height:40px;
			font-size:14px;
			background:#0066cc;
			float:right;
				
				
			}
			
					
				/* popular------------------------------------------------- */
		.popular{
		width:230px;
		float:right;
			
		}
		
			.popular-title{
			width:230px;
			height:30px;
			font-family:titr;
			font-size:14px;
			background:yellow;
			box-sizing:border-box;
			border:1px solid magenta;
			text-align:right;
			padding-right:5px;	
				
			}
			
			.pop1{
			width:230px;
			height:300px;
			font-family:titr;
			font-size:14px;	
			background:#eeeeee;
			text-align:right;
				
				
			}
	
			
			/* article------------------------------ */
			.article-title{
			width:730px;
			height:30px;
			font-family:zar;
			font-size:14px;
			
			text-align:right;
			padding-right:5px;
			
				
			}
			
			.art-writer{
			width:730px;
			height:30px;
			font-family:zar;
			font-size:12px;
			
			
			text-align:right;
			padding-right:5px;
			}
			
			article{
			width:730px;
			text-align:right;
			font-family:zar;
			font-size:16px;	
			
			padding:10px;
			line-height:1.5 em;
			
			}
			
			.related{
			width:730px;
			text-align:right;
			background:grey;
			clear:both;
			
			
			}
			
			.opinion{
			width:730px;
			float:right;
			background:grey;
			text-align:right;
			clear:both;
			
			}
			.comment{
			width:730px;
			text-align:right;
			float:right;
			background:grey;
			clear:both;
			
			
			}
			.clrfx{
				clear:both;
			}
			
			.suggested{
			width:960px;
			text-align:right;
			margin:auto;
			background:grey;
			
			}
			
			.keywords{
			width:960px;
			text-align:right;
			margin:auto;
			background:grey;	
			}
	
	
		
		
	
				
				
		
		
		
	
	
	
		
		
		
	
	
Footer{
background:black; 
margin:auto;
text-align:center;
height:200px;
color:white;
clear:both;


	
	
}
	
